*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-size: 36px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1140px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px 0px 200px;
}
.row{
    width: 100%;
    display: flex;
}
.col-6{
    width: 50%;
}
.btn-primary{
    color: #fff;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    cursor: pointer;
}
.section-title{
    text-align: center;
}
/* Banner Start */
.header{
    background-color: #FFF8F3;
    background-image: url('../img/header_bg.png'), url('../img/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    /* background-size: auto; */
}
.logo{
    color: #181818;
    font-size: 46px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}
.logo span{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
li a{
    text-decoration: none;
    color: #474747;
}
.banner{
    padding-top: 80px;
}
.banner-content{
    padding: 100px 0px 0px 0px;
    justify-content: space-between;
}
.banner-content h3{
    color: #474747;
}
.banner-content h2{
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.dubble-btn{
    padding: 30px 0px;
}
.images-file{
    width: 500px;
    padding-bottom: 0px;
}
/* Banner End */

/* About Me Start */
.about-me{
    margin: 130px;
}
.about-content{
    padding: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    justify-content: center;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    padding: 40px 0px;
}
.about-info-div{
    display: flex;  
    justify-content: space-between; 
}
.about-info{
    text-align: center;
}
.about-info h4{
    font-size: 18px;
}
.about-info p{
    color: #474747;
    font-size: 16px;
    margin-top: 5px;
}
/* Section End About Me */

/* Skill section start here */
.skill-description{
    margin: 130px;
    text-align: center;
}
.skill-content{
    padding: 0px 130px;
}
.skill-description .section-title{
    padding-bottom: 20px;
}
.skills-info-div{
    display: flex;  
    justify-content: space-between; 
    gap: 24px;
    padding-top: 15px;
}
.skills-info{
    text-align: left;
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skills-info h4{
    font-size: 18px;
    line-height: 28px;
    padding: 15px 0px;
}
.skills-info p{
    color: #757575;
    font-size: 16px;
    line-height: 26px;
}
/* Skills Section End Here! */

/* Resume Section Start Here! */
.resume-div{
    display: flex;  
    justify-content: space-between; 
    gap: 24px;
    padding-top: 15px;
    padding-bottom: 40px;
}
.resume-info{
    text-align: left;
    padding: 30px;
}
.resume-info h2{
    color: #474747;
    font-size: 30px;
    padding-bottom: 30px;
}
.resume-info h3{
    color: #474747;
    font-size: 22px;
    padding: 20px 0px 15px 0px;
    border-top: 2px solid #757575;
}
.resume-info h4{
    color: #757575;
    font-size: 20px;
    padding-bottom: 15px;
}
.resume-info p{
    color: #757575;
    font-size: 16px;
}
/* Resume Section End */
/* Contact Section Start */
.contact{
    background: #FFF8F3;
    padding: 130px;
}
.social-info{
    text-align: center;
    padding: 0px 60px;
}
.social-info h2{
    font-weight: 800;
}
.social-icon{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}
/* Contact Section end */