*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-size: 36px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}
p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1140px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px 0px 200px;
}
.row{
    width: 100%;
    display: flex;
}
.col-6{
    width: 50%;
}
.btn-primary{
    color: #fff;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 15px 35px;
    cursor: pointer;
}
.section-title{
    text-align: center;
}
/* Banner Start */
.header{
    background-color: #FFF8F3;
    background-image: url('../img/header_bg.png'), url('../img/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    /* background-size: auto; */
}
.logo{
    color: #181818;
    font-size: 46px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}
.logo span{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
li a{
    text-decoration: none;
    color: #474747;
}
.banner{
    padding-top: 80px;
}
.banner-content{
    padding: 100px 0px 0px 0px;
    justify-content: space-between;
}
.banner-content h3{
    color: #474747;
}
.banner-content h2{
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.dubble-btn{
    padding: 30px 0px;
}
.images-file{
    width: 500px;
    padding-bottom: 0px;
}
/* Banner End */

/* About Me Start */
.about-me{
    margin: 130px;
}
.about-content{
    padding: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    justify-content: center;
}
.about-content p{
    color: #757575;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    padding: 40px 0px;
}
.about-info-div{
    display: flex;  
    justify-content: space-between; 
}
.about-info{
    text-align: center;
}
.about-info h4{
    font-size: 18px;
}
.about-info p{
    color: #474747;
    font-size: 16px;
    margin-top: -25px;
}
/* Section End About Me */